DB_USER=#postgres database user
DB_PASSWORD=#postgres database password
DB_NAME=#postgres database name

MQTT_USER=#mqtt broker credentials login user
MQTT_PASSWORD==#mqtt broker credentials login password

TG_API_ID==#telegram bridge api id (use https://my.telegram.org/apps)
TG_API_HASH=#telegram bridge api hash (use https://my.telegram.org/apps)
TG_SESSION_STRING=#telegram bridge api id (use ./pyscripts/get_session.py)

ANKI_COOKIE=#cookie of the https://ankiweb.net/decks site

LASTFM_API_KEY=#lastFM api key
LASTFM_USER=#lastFM username

VIKUNJA_JWT_SECRET=#any long string secret

AUTHELIA_JWT_SECRET=#any long string secret
AUTHELIA_SESSION_SECRET=#any long string secret
AUTHELIA_STORAGE_ENCRYPTION_KEY=#any long string secret

ACTUAL_PASSWORD=# Actual Budget password
ACTUAL_SYNC_ID=#sync_id budget in Advanced Settings in Actual
MONO_ACC_MAP=#JSON-map '{"mono_card_id":"actual_account_id"}'
MONO_WEBHOOK_SECRET=#any long string secret